div.navbar {
    margin-top: 15px;
    height: 40px;

    background: #cc6666;
    background: -moz-linear-gradient(top, #990000 0%, #660000 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#990000),to(#660000));

    /*border-radius: 7px;*/
    padding: 3px;
}

div.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10pt;
}

div.navbar #right {
    float: right;
}

div.navbar #center {
    text-align: center;
    float: center;
    margin: 0 auto;
}

div.navbar #left {
    float: left;
}

div.navbar #right,#left {
    display: inline-block;
    height: 100%;
}

div.navbar ul {
    padding: 0;
    margin: 0;
    margin-left: 0px;
}

div.navbar li {
    display: inline-block;
    border: none;
    width: 18%;
    height: 300px;
    line-height: 40px;
}

div.navbar li a {

    display: block;
    padding: 0px;
    /*border-radius: 7px;*/
    text-align: center;
}

div.navbar li a:HOVER {
    background: #55d400;
    background: -moz-linear-gradient(top, #cc0000 0%, #990000 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc0000),to(#990000));
}