div.login,div.register {
    width: 370px;
    border: none;
}

div.register {
    float: right;
    width: 500px;
}

div.login {
    float: left;	
}

div.login label,input{
    display: block;
    height: 30px;
    margin: 3px;
    vertical-align: middle;
}

h1 {
    font-size: 14pt;
    color: #89a02c;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed #e0e3e1;
    border-top: 1px dashed #e0e3e1;
}
div.header form {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px dashed #e0e3e1;
    
}

label {
    width: 100px;
    float: left;
    text-align: right;
    line-height: 30px;
    font-family: Helvetica, Verdana, Arial;
    font-weight: bold;
    font-size: 12pt;
    color: #747474;
}
input {
    width: 180px;
    height: 30px;
    float: right;
    margin: 3px;
    color: #666666;
    font-size: 13pt;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
states {
    width: 180px;
    height: 30px;
    float: right;
    margin: 3px;
    color: #666666;
    font-size: 13pt;
    border: 1px solid #cccccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

input.button {
    font-weight: bold;
    line-height: 1;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 11pt;
    height: 35px;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 1px #64799e;

    /* Background gradient */
    background: #55d400;
    background: -moz-linear-gradient(top, #55d400 0%, #009900 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#55d400),to(#009900));

    /* Border style */
    border: 1px solid #00a800;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /* Box shadow */
    -moz-box-shadow: inset 0 1px 0 0 #aec3e5;
    -webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
    box-shadow: inset 0 1px 0 0 #aec3e5;
}

.Outline1{
    background:#25536b; 
    width:297px; 
}

.Outline1 #text{
    font-size: 28px; 
    text-align: right; 
    color: #c9e4d3;
    position:relative; 
    top:10px; 
    right:10px;
}

.Outline2{
    background:#827ad0; width:297px; position:relative; top:20px;                      
}

.TabControl{
    width:297px; overflow:hidden; height:400px;
}

.TabControl #header{
    width:100%; overflow:hidden; 
}

.TabControl #content{
    width:100%; overflow:hidden; height:100%; 
}

.TabControl .abas{
    display:inline;
}

.TabControl .abas li{
    float:left;
}

.aba{  
    font-family:Calibri, Tahoma, Arial;
    width:50px; height:0px;           
    border-bottom: 30px solid #E5DEE2;
    border-right: 50px solid transparent;
}

.ativa{
    width:100px; 
    height:30px;
    text-align:center; 
    padding-top:5px;
}

.ativa span,
.selected span{
    color:#fff;
}

.TabControl #content{
    background:#E5DEE2;
}

.TabControl .conteudo{
    width:100%; 
    background:#E5DEE2; 
    display:none; 
    height:100%;
    color:#fff;
}

.selected{
    width:50px; 
    height:0px;
    text-align:center; 
    padding-top:5px;
}

.ubs{
    height: 60px; 
    border-style: solid; 
    border-bottom-width: 1px; 
    border-top-width: 0;
    border-right-width: 0; 
    border-left-width: 0; 
    text-align:center;
}

.ubs #h1{
    color:#282828;
    text-justify: center; 
    font-size: 20px; 
    margin-top: 10px;
}

.ubs a:hover{
    color:#282828; 	
    text-decoration: none;
}

.ubs a:link{
    color:#282828; 	
    text-decoration: none;
}

.ubs a:visited{
    color:#282828; 	
    text-decoration: none;
}
